extends layout.pug

block content
    h1 Books
        p
        a.button(href='/new-book') Create New Book
        table
            thead
                tr
                    th Title
                    th Author
                    th Genre
                    th Year
            tbody
                tr
                    td
                        a(href='/update-book') A Brief History of Time
                    td Stephen Hawking
                    td Non Fiction
                    td 1988
