extends layout

block content
    form(action=`/search/${page}/`, method='get')
        label(for="search")
        input#search(type="search", name="search")
        input(type="submit", value="Search")